.content{
    text-align: center;
}
.them_box{
    padding: 50px 0 0;
    display: inline-block;
}
.page-tit-h2{
    text-align: left;
    line-height: 1;
    font-size: 20px;
    background: url(resources/images/tit-bullet01.png) no-repeat 0 4px;
    padding-left: 25px;
}
.text{
    padding-top: 30px;
    text-align: left;
}
.indent_box{
    padding: 30px;
    position: relative;
}
.indent_box > span{
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background-color: #1fb8b9;
    padding: 12px 35px 12px 55px;
    position: absolute;
    top: 50px;
    left: 0;
}
.inner_list{
    background-color: #46526e;
    padding: 80px 80px 30px 30px;
    box-shadow: 10px 10px 0 0 #ecedf0;
    color: #fff;
    font-weight: 300;
}
.inner_list li{
    list-style: square;
    padding: 5px 0 5px 8px;
    color: #fff;
    font-weight: 300;
    text-align: left;
}
.crawling_box{
    padding-top: 30px;
    margin-bottom: 5px;
}
.crawling_box > h3{
    padding-bottom: 30px;
}
.crawling_box ul li{
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    position: relative;
    display: table;
}
.site_logo{
    background-color: #f9f9f9;
    width: 200px;
    height: 115px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #111;
}
.txt_box{
    padding: 20px 30px;
    text-align: left;
}
.crawling_cnt{
    background-color: #f9f9f9;
    width: 150px;
    height: 115px;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}
.crawling_cnt > span{
    font-weight: bold;
    font-size: 30px;
}