@charset "UTF-8";

.contents{
    width: 100%;
    height: 100%;
    text-align: center;
}

.center {
	margin-top: 70px;
	margin-bottom: 55px;
	width: 500px;
	text-align: left;
}

.textArea {
    padding: 50px;
    border: solid 2px black;
    border-radius: 10px;
	
    width: 79%;
    height: 865px;

    position: relative;
    right:  0px;
    margin: 0;
}
.myInfo_section {
	
}
.myInfo_section > h1 {
    color: black;
    position: relative;
    top: -68px;
    right: 130px;
    background-color: white;
    width: 175px;
    text-align: center;
}
.form_div {
	position: relative;
    top: -38px;
}



label {
	font-size: 19px;
	color: #166cea;	
}
input + label:not(.chkBoxType), select + label {
    position: relative;
    top: -88px;
}
label + p {
    margin-bottom: 70px;
    font-size: 18px;
}
div.mem_cc {
	position: relative;
    top: -27px;
}

.checkList1, .checkList2 {
	padding: 3px 15px 0px 15px;
}




section > form > div {
    display:block;
}
.int-area {
	margin: 0px 0px 50px 0px;
}

#mem_bir, #mem_name, #mem_jb, #mem_mail {
	width: 100%;
	height: 50px;
    font-size: 18px;
    padding: 3px;
    border: none;
    border-bottom: solid 1px;
}


.btn_div{
	position: relative;
    top: -27px;
    text-align: center;
}
.cap_save {
	width: 100%; 
	height: 45px;
	margin-top: 10px;
	color: #fff;
	font-size: 23px;
	border: none;
	border-radius: 15px;
	background-color: #166cea;
	padding: 0 0 5px 5px;
	display: block;
	box-shadow: 2px 2px 3px 1px grey;
	cursor: pointer;
}
.cap_delPw{
	margin-top: 30px;
	text-align: left;
	cursor: pointer;
}
.cap_del, .cap_pw {
	width: 48%;
	height: 35px;	
	border: 0px;
	background: #fff;
	box-shadow: 2px 2px 3px 1px grey;
	border-radius: 10px;
	cursor: pointer;
}
.cap_del {
    margin: 0px 9px 0px 0px;
}









/* modal */
.modal {
	display: none;
	position:fixed;
	z-index: 2;
    top: 0; right: 0%; bottom: 0; left: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
}

.modal .show_modal {
	display: block;
}

.modal_content {
	background-color: #fefefe;
    position: fixed;
    top: 0; right: 0%; bottom: 0; left: 0;
    
	width: 420px;
    height: 260px;

	margin: auto;
	padding: 20px;

    text-align: center;

    padding-top: 80px;
    border-radius: 7px;
}

.close {
	color: #aaa;
	float: right;
}

.modal label {
    display: block;
}
.modal label+input{
	width: 100%;
}
div.modal_content > div {
    width: 180px;
    margin: auto;
    text-align: left;
    margin-top: 20px;
}

.modal_save {
    text-align: center !important;
}

.modal_content > span {
	color: black;
	font-weight: bold;
	cursor: pointer;
	position: relative;
	top: -70px;
	right: -5px;
}

.warning {
	color: red;
}

















































